# =========================
# Maven
# =========================
target/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# NetBeans
# =========================
nbproject/
build/

# =========================
# Arquivos compilados Java
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Arquivos temporários
# =========================
*.tmp
*.swp
*~

# =========================
# Arquivos de ambiente
# =========================
.env